body{  
    margin: 0;  
    padding: 0;  
    border: 0;  
}

h1, h2, h3, h4, h5, h6, p, video{  
    margin: 0;  
    padding: 10px;  
    border: 0;  
    font-size: 120%;
}
h1.article{
    font-size: 400%;
    text-align: center;
    color: rgb(129, 224, 145);
    margin: 10px 15% 40px 15%;
}
h2.article{
    font-size: 250%;
    border-bottom: 5px solid rgb(129, 224, 145);
}

div.article{
    /* text-align: center; */
    margin: 10px 20% 40px 20%;
}
img.article, video.article{
    display: block;
    
    margin: 40px auto 40px auto;
}

body{
    background-color: rgb(0, 0, 0);
    color:white;
    font-family: Helvetica, Arial, sans-serif;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
    overflow:hidden;
}

div.div_navigation_bar{
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0px;
    margin: none;
    /* border-bottom: 5px dashed rgb(129, 224, 145); */
}
/* a{
    text-decoration: none;
} */



li.navigation_bar{
    /* color: rgb(129, 224, 145);
    padding: 15px 25px;
    text-align: center;
    text-decoration: none; */
    display: block;
}
a.navigation_bar, a.navigation_bar:visited, a.navigation_bar_home{
    font-size: 120%;
    background-color:rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 25px 45px;
    text-align: center;
    text-decoration: none;
    display: block;
    float: left;
    border-radius: 0px;
    margin: 10px 5px 10px 5px;
}
a.navigation_bar:hover, a.navigation_bar:active {
    font-size: 120%;
    background-color:rgb(129, 224, 145);
    color: rgb(0, 0, 0);
    padding: 25px 45px;
    text-align: center;
    text-decoration: none;
    display: block;
    float: left;
    border-radius: 0px;
    margin: 10px 5px 10px 5px;
}
a.navigation_bar_home:hover, a.navigation_bar_home:active{
    font-size: 120%;
    border: 5px solid rgb(129, 224, 145);
    color: rgb(129, 224, 145);
    padding: 20.5px 40.53px;
    text-align: center;
    text-decoration: none;
    display: block;
    float: left;
    border-radius: 0px;
    margin: 10px 5px 10px 5px;
}
a.navigation_bar_selected{
    font-size: 120%;
    background-color:rgb(129, 224, 145);
    color: rgb(0, 0, 0);
    padding: 25px 45px;
    text-align: center;
    text-decoration: none;
    display: block;
    float: left;
    border-radius: 0px;
    margin: 10px 5px 10px 5px;
}









a:link.button_test, a:visited.button_test {
    font-size: 150%;
    border: 5px solid white;
    color: white;
    padding: 25px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px auto 5px auto;
}

a:hover.button_test, a:active.button_test {
    font-size: 150%;
    border: 5px solid rgb(129, 224, 145);
    color: rgb(129, 224, 145);
    padding: 25px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px auto 5px auto;
}

/* p, img, h1{
border: 1px dashed red;
} */
/* div{
border: 1px dashed rgb(107, 114, 212);
} */

/* .clickable_div{
    border: 5px dashed rgb(129, 224, 145)
} */


h1.product_list_item{
    font-size: 200%;
}

div.product_list_item{
    display:grid;
    grid-template-columns: 4cm 100fr 15ch;
    grid-template-rows: 40px 100px;
    gap: 10px;
    justify-content: space-around;
    align-content: center;
    /* text-decoration: none; */
    margin: 15px;
    padding: none;
    font-size: 16px;
    cursor: pointer;
    border: 5px solid rgb(129, 224, 145);
    border-radius: 0px;
}
div.product_list_item img{
    width:4cm;
    height:100%;
    grid-row: 1 / span 2;
    float: left;
    border-radius: 0px;
}
div.product_list_item h1{
    grid-row: 1 / span 1;

}
div.product_list_item p.product_list_item_description{
    grid-row: 2 / span 1;
}
div.product_list_item p.price_tag{
    grid-row: 1 / span 2;
    font-size: 24px;
    align-content: center;
    text-align: center;
    /* text-decoration: none; */
}
/* .clickable_div{
    text-decoration: none;
} */

/* a.clickable_div:link a.clickable_div:visited{

}
a.clickable_div:hover{

} */

/* a.clickable_div{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    background-color: white;
    opacity: 0;
    filter: alpha(opacity=1);
} */

img.cover_image{
    width: 800px;
    height: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}











































/* div.article_list_item{
    display:grid;
    grid-template-columns: 4cm 100fr 15ch;
    grid-template-rows: 40px 100px;
    gap: 10px;
    justify-content: space-around;
    align-content: center;

    padding: 10px;
    font-size: 16px;

    border: 5px solid rgb(129, 224, 145);

}
div.article_list_item img{
    width:4cm;
    height:100%;
    grid-row: 1 / span 2;
    float: left;
}
div.article_list_item h1{
    grid-row: 1 / span 1;
}
div.article_list_item p.article_list_item_description{
    grid-row: 2 / span 1;
} */
/* div.article_list_item p.price_tag{
    grid-row: 1 / span 2;
    font-size: 24px;
    align-content: center;
    text-align: center; 
}*/


